<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Enabled</key>
	<true/>
	<key>Debug</key>
	<true/>
	<key>LibNotify</key>
	<dict>
		<key>Activity</key>
		<dict>
			<key>Colors</key>
			<dict>
				<key>DarkModeSupported</key>
				<true/>
				<key>BackgroundColor</key>
				<dict>
					<key>Light</key>
					<string>#70D05A</string>
					<key>Dark</key>
					<string>#70D05A</string>
				</dict>
				<key>TextColor</key>
				<dict>
					<key>Light</key>
					<string>#70D05A</string>
					<key>Dark</key>
					<string>#70D05A</string>
				</dict>
				<key>AccentColor</key>
				<dict>
					<key>Light</key>
					<string>#70D05A</string>
					<key>Dark</key>
					<string>#70D05A</string>
				</dict>
				<key>ButtonTextColor</key>
				<dict>
					<key>Light</key>
					<string>#70D05A</string>
					<key>Dark</key>
					<string>#70D05A</string>
				</dict>
				<key>CloseButtonColor</key>
				<dict>
					<key>Light</key>
					<string>#70D05A</string>
					<key>Dark</key>
					<string>#70D05A</string>
				</dict>
			</dict>
			<key>FontType</key>
			<string>Dynamic</string>
		</dict>
		<key>Enabled</key>
		<true/>
		<key>Application</key>
		<dict>
			<key>Name</key>
			<string>Libnotify app name (obsolete)</string>
			<key>Id</key>
			<string>Libnotify app id</string>
			<key>Secret</key>
			<string>Secret key</string>
		</dict>
	</dict>
	<key>LibVerify</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>Application</key>
		<dict>
			<key>Name</key>
			<string>Libverify app name</string>
			<key>Key</key>
			<string>Libverify app key</string>
		</dict>
	</dict>
	<key>SharedGroupId</key>
	<string>App group</string>
</dict>
</plist>
